<%= form_for @doctor, :html => { :class => "form-horizontal doctor" } do |f| %>

    <% if @doctor.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@doctor.errors.count, "erreur") %> ont empéché ce docteur d'être enregistré:</h3>
      </div>
      <div class="panel-body">
        Les champs en rouge sont obligatoires.
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label 'Prénom', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :first_name, :class => 'form-control' %>
    </div>
    <%= error_span(@doctor[:first_name]) %>
  </div>
  <div class="control-group">
    <%= f.label 'Nom', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :last_name, :class => 'form-control' %>
    </div>
    <%= error_span(@doctor[:last_name]) %>
  </div>
  <div class="control-group">
    <%= f.label 'Adresse ligne 1', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :address_line1, :class => 'form-control' %>
    </div>
    <%= error_span(@doctor[:address_line1]) %>
  </div>
  <div class="control-group">
    <%= f.label 'Adresse ligne 2', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :address_line2, :class => 'form-control' %>
    </div>
    <%= error_span(@doctor[:address_line2]) %>
  </div>
  <div class="control-group">
    <%= f.label 'Code postal', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :zipcode, :class => 'form-control' %>
    </div>
    <%= error_span(@doctor[:zipcode]) %>
  </div>
  <div class="control-group">
    <%= f.label 'Ville', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :city, :class => 'form-control' %>
    </div>
    <%= error_span(@doctor[:city]) %>
  </div>
  <div class="control-group">
    <%= f.label 'Spécialité', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :speciality, :class => 'form-control' %>
    </div>
    <%= error_span(@doctor[:speciality]) %>
  </div>

  <br>
  <%= f.submit 'Valider', :class => 'btn btn-primary' %>
  <%= link_to 'Annuler',
            doctors_path, :class => 'btn btn-default' %>

<% end %>
