<%= render 'map' %>

<%- model_class = Doctor -%>
<div class="page-header">
  <h1>Docteurs</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Nom</th>
      <th>Prénom</th>
      <th>Adresse</th>
      <th>Spécialité</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @doctors.each do |doctor| %>
      <tr>
        <td><%= link_to doctor.id, doctor_path(doctor) %></td>
        <td><%= doctor.last_name %></td>
        <td><%= doctor.first_name %></td>
        <td><%= doctor.address %></td>
        <td><%= doctor.speciality %></td>
        <td>
          <%= link_to 'Modifier',
                      edit_doctor_path(doctor), :class => 'btn btn-default btn-xs' %>
          <%= link_to 'Supprimer',
                      doctor_path(doctor),
                      :method => :delete,
                      :data => { :confirm => 'Etes-vous sur ?' },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Ajouter un docteur',
            new_doctor_path,
            :class => 'btn btn-primary' %>

<script>
  handler = Gmaps.build('Google');
  handler.buildMap({ internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%=raw @markers.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });
</script>
