<%= render 'map' %>

<div class="page-header">
  <h1><%= @doctor.full_name %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong>Adresse</strong></dt>
  <dd><%= @doctor.address %></dd>
  <dt><strong>Spécialité</strong></dt>
  <dd><%= @doctor.speciality %></dd>
</dl>

<%= link_to 'Revenir à la liste', doctors_path, :class => 'btn btn-default'  %>
<%= link_to 'Modifier', edit_doctor_path(@doctor), :class => 'btn btn-default' %>
<%= link_to 'Supprimer', doctor_path(@doctor),
      :method => 'delete',
      :data => { :confirm => 'Etes-vous sur ?' },
      :class => 'btn btn-danger' %>

<script>
  handler = Gmaps.build('Google');
  handler.buildMap({ internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%=raw @markers.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setZoom(16);
  });
</script>
